
#sidebar-hr {
  display: none;
}
#sidebar-hr.visible {
  display: block;
}

.tab-hr {
  position: relative;
  z-index: 1000;
}

.app-tabs {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.app-tab-list {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: end;
  overflow-x: auto;
  overflow-y: clip;
  z-index: 5;
  font-size: calc(1.5 * var(--ux-base-font-size));
}

.app-tab {
  display: inline-block;
  border-bottom: none;
  position: relative;
  list-style: none;

  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--ux-color-secondary);

  margin-top: calc(0.5 * var(--ux-base-font-size));
  margin-right: var(--ux-base-font-size);
  margin-bottom: calc(0.5 * var(--ux-base-font-size));

  white-space: nowrap; /* prevent line breaks */

  /* button styling */
  /*
  background: var(--theme-background);
  border-radius: 50%;'
  */
}

.app-tab-selected {
  font-weight: bold;
  cursor: unset;
  text-decoration: none;
}

.app-tab:focus {
  outline: none;
}

.app-tab-panel {
  display: none;
}

.app-tab-panel-selected {
  display: block;
  height: 100%;
  padding: 0;
  overflow: auto;
}