.react-tabs {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-tabs__tab-list {
  padding-top: 0.5em;
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: end;
  overflow-x: auto;
  overflow-y: clip;
  height: 25px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--theme-background);
  z-index: 5;
}

.react-tabs__tab {
  display: inline-block;
  border: 2px solid transparent;
  border-bottom: none;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 6px 6px;
  margin: 0 0.5em;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.react-tabs__tab--selected {
  background: #000;
  border-color: #000;
  color: var(--theme-background);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 3px;
  /* left: -4px;
  right: -4px; */
  bottom: -5px;
  background: var(--theme-background);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: 100%;
  padding: 0;
  overflow: auto;
}