.react-tabs {
  -webkit-tap-highlight-color: transparent;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.react-tabs__tab-list {
  /* padding-top: 0.5em; */
  border-top: 2px solid #000;
  display: flex;
  justify-content: start;
  align-items: end;
  overflow-x: auto;
  overflow-y: clip;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 30px);
  background: var(--theme-background);
  /* background: var(--theme-background); */
  z-index: 5;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
}

.react-tabs__tab {
  display: inline-block;
  
  border-bottom: none;
  bottom: -2px;
  position: relative;
  list-style: none;
  padding: 8.5px 15px;
  padding-left: 0;
  /* margin: 0 0.5em; */
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: #0f0;
}

.react-tabs__tab--selected {
  /*background: #000;
  border-color: #000;
  color: #f6f6f6;*/
  font-weight: 700;
  text-decoration: none;
  /*color: var(--theme-background); */
  /*
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  */
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 3px;
  /* left: -4px;
  right: -4px; */
  bottom: -5px;
  background: var(--theme-background);
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  height: 100%;
  padding: 0;
  overflow: auto;
}