
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Helvetica", "Helvetica Neue", sans-serif;
    background-color: var(--theme-color);
    color: #000;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-weight: normal;
  }
  
  /* header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */
  
  form {
    max-width: 450px;
    /* margin: 30px auto; */
    box-shadow: 10px 10px 0px rgba(0, 255, 0, 0.5);
  
    border: 1px solid black;
    /* border-radius: 8px; */
    padding: 15px;
    background: #ebebeb;
  }
  
  input {
    display: block;
    width: 100%;
    /* border-radius: 8px; */
    border: 2px solid transparent;
    height: 34px;
    padding: 5px;
    /* background: #37474f; */
    color: inherit;
    font-family: inherit;
  }
  
  input::placeholder {
    color: #aaa;
  }
  
  .input-container {
    margin-bottom: 10px;
  }
  
  .btn-danger {
    border: 1px solid #f44336;
    border-radius: 50%;
    /* padding: 6px 14px; */
  
    /* font-family: inherit;
    font-size: 14px; */
    font-size: 1em;
    cursor: pointer;
  }
  .btn-danger:hover {
    background-color: #f44336;
  }
  
  .peer-container {
    min-width: 100px;
    min-height: 100px;
  }
  .peer-container.video-muted>video {
    background: #fff;
  }
  
  video.peer-video, video.peer-screenshare-video {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
  }
  video.peer-screenshare-video {
    border-radius: unset;
  }
  video.peer-video.muted {
    filter: grayscale();
  }
  video.peer-video.sharp {
    border-radius: 0;
  }
  video.peer-video.round {
    border-radius: 50%;
  }
  
  .node {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .node.round, .node.round>img, .node.round>video {
    border-radius: 50%;
  }
  
  img.cover-img, video.cover-video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top:0;
    left:0;
  }
  
  button {
  /* font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px; */
  font-family: inherit;
  font-size: 1em;
  border: 1px solid transparent;
  background: #fff;
  /* width: 64px;
  height: 64px; */
  border-radius: 50%;
  text-align: center;
  padding: 4px;
  cursor: pointer;
  }
  /* button.btn-secondary {
  font-style: italic;
  } */
  button:hover {
  /* background: #000;
  color: #ebebeb; */
  background: #ebebeb;
  border-color: transparent;
  /* box-shadow: 5px 5px 10px rgba(0, 255, 0, 0.5); */
  /* border: 1px solid #000; */
  }
  button.btn-alert:hover {
  background: rgb(255, 68, 0);
  /* box-shadow: 5px 5px 10px rgba(255, 0, 0, 0.5); */
  /* color: #000; */
  }
  
  /*
  button.btn-confirm:hover {
    background: #ff0; 
  }
  */
  figcaption {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #ebebeb;
  padding: 4px;
  }
  
  .hide {
    display: none;
  }
  
  
  a, a:visited {
    color: rgb(84, 84, 251);
  }