:root {
  --theme-background: #f6f6f6;
}

html, body, #root {
  background: var(--theme-background);
  height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
  font-size: 15px;
  line-height: 1em;
}

.main-content {
  height: 100%;
  margin-top: 32px;
}

h1 {
  font-size: 30px;
}
h2, h3 {
  font-weight: bold;
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a, a:visited {  /* same as taat.live styles */
  color: unset;
  text-decoration-color: #00ff62;
  text-decoration-thickness: 2px;
}

::selection {
  background: rgba(0,255,0,0.4);
}

table {
  border-collapse: collapse;
  margin: 0;
  overflow: hidden;
  table-layout: fixed;
  width: 100%;
}
td {
  border: 2px solid #ced4da;
  box-sizing: border-box;
  min-width: 1em;
  padding: 3px 5px;
  position: relative;
  vertical-align: top;
}

/* --------------------- */

form, .form {
  max-width: 450px;
  max-height: 70vh;
  overflow: auto;
  padding: 15px;
  background: #f6f6f6;
  box-sizing: border-box;
}

input {
  box-sizing: border-box;
  border: 2px solid transparent;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  margin-bottom: 10px;
}

input[type="color"] {
  margin-bottom: unset;
  width: 30px;
}

input[type="text"], input[type="password"] {
  display: block;
  padding: 5px;
  width: 100%
}

input[type="number"] {
  width: 5em;
}

input::placeholder {
  color: #aaa;
}

.react-flow__controls-button {
  border: 1px solid #0f0;
}
button {
  font-family: inherit;
  font-size: 1em;
  border: 1px solid transparent;
  background: #fff;
  /*
  border-radius: 50%;
  */
  text-align: center;
  padding: 8px;
  cursor: pointer;
  margin: 0;
  color: #000;
  height: 30px;
  /*
  text-decoration: underline;
  text-decoration-color: #0f0;
  */
  border: 1px solid #0f0;
}

button:hover {
  background: var(--theme-background);
  border-color: transparent;
}
button.btn-alert:hover {
  background: rgb(255, 68, 0);
}
button.btn-toolbar {
  width: 16px;
  height: 16px;
}

.react-flow__controls {
  box-shadow: unset !important;
}

/* ----- node styles ---------- */

img.cover-img, video.cover-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* position: absolute; */
  /* border-radius: 5px; */
  top:0;
  left:0;
}

/* ----- minimap ---------- */

.react-flow__minimap {
  background-color: rgba(255,255,255,0.7);
  /* border-radius: 5px; */
}

/* ----- override cursor styles */

.react-flow__pane, .react-flow__node {
  cursor: unset;
}

.react-flow__panel {
  margin: unset;
}

.react-flow__resize-control.line.left,
.react-flow__resize-control.line.right {
  border-left-width: 2px;
}
.react-flow__resize-control.line.top,
.react-flow__resize-control.line.bottom {
  border-top-width: 2px;
}

.react-flow__resize-control.handle {
  width: 15px;
  height: 15px;
}